<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Create New Destination - Admin - Wisata Halal</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css'>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">

</head>

<body>
  <!-- partial:index.partial.html -->

  <body>
    <div id="menu-overlay"></div>
    <div id="menu-toggle" class="closed" data-title="Menu">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
    </div>
    <header id="main-header">
      <nav id="sidenav">
        <div id="sidenav-header">
          <div id="profile-picture">
            <img src="{{ url_for('static', filename='img/admin.png') }}"/>
          </div>
          {% for i in user %}
          <a href="/admin/member/{{i[0]}}" id="profile-link">{{i[1]}}</a>
          {% endfor %}
        </div>
        <ul id="main-nav">
          <li>
            <a href="../admin">
              <i class="fa fa-home"></i>
              Dashboard
            </a>
          </li>
          <li class="active">
            <a href="/admin/destination">
              <i class="fa fa-landmark"></i>
              Destination
            </a>
          </li>
          <li>
            <a href="/admin/place">
              <i class="fa fa-place-of-worship"></i>
              Supporting Place 
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-user-lock"></i>
              Admin
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="fa fa-sign-out-alt"></i>
              Logout
            </a>
          </li>
        </ul>
      </nav>

    </header>
    <section id="content" class="form-style">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="destination" style="text-decoration:none">Destination</a></li>
          <li class="breadcrumb-item active" aria-current="page">Create New Destination </li>
        </ol>
      </nav>

      <form action="/admin/add_destination/new" method="POST">
        <div class="section"><span>1</span>Destination</div>
        <div class="inner-wrap">
          <label class="id" id="id" for="id">ID Destination</label>
          <input class="form-control form-control-sm" name="id" type="text" aria-label=".form-control-sm example" required>

          <label class="name" id="name" for="name">Name</label>
          <input class="form-control form-control-sm" name="name" type="text" aria-label=".form-control-sm example" required>

          <label class="type" id="type" for="type">Type</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example" required name="types">
            {% for i in types %}
            <option value="{{i[0]}}">{{i[0]}}</option>
            {% endfor %}
          </select>

          <label></label>
          <label class="img" id="img" for="img">Link Image</label>
          <input class="form-control form-control-sm" value="" name="img" type="text"
            aria-label=".form-control-sm example" required>

          <label class="desc" id="desc" for="desc">Description</label>
          <textarea class="form-control form-control-sm" name="desc" rows="4"required></textarea>
        </div>
        <div class="section"><span>2</span>Location - City &amp; Coordinate</div>
        <div class="inner-wrap">
          <label class="city" id="city" for="city">City</label>
          <input class="form-control form-control-sm" value="" name="city" type="text"
            aria-label=".form-control-sm example" required>
        </div>
        <div class="inner-wrap">
          <label class="coordinate" id="coordinate" for="coordinate">Coordinate</label>
          <div id="mapCanvas" class="inner-wrap"></div>
          <b>Latitude:</b>
          <div id="info_lat"></div>
          <b>Longitude:</b>
          <div id="info_lon"></div>
          <input class="form-control form-control-sm" name="lat" type="hidden" aria-label=".form-control-sm example">
          <input class="form-control form-control-sm" name="lon" type="hidden" aria-label=".form-control-sm example">
        </div>

        <div class="section"><button type="submit" class="btn btn-primary">Submit</button></div>

      </form>

    </section>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/admin_destination.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{{ url_for('static', filename='js/maps.js') }}"></script>

  </body>

</html>