:root {
  --surface-color: #B8F4E0;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card .hidden {
  display: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
  color: #262626;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-90%);
  transition: .2s ease-in-out;
}      

.card:hover .card__header {
  transform: translateY(0);
  color: #000000;
}


/* PAGINATION */

.pagination {
  text-align: center;
  margin: 1.9em 1.9em 3.8em;
  user-select: none;
  justify-content: center;
}

.pagination li {
    display: inline-block;
    margin: 0.3em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.3);
}

.pagination li a {
    color: #87A2FB;
    text-decoration: none;
    font-size: 1em;
    line-height: 2.6em;
}

.previous-page,
.next-page {
    background: #002B5B;
    width: 5em;
    border-radius: 45px;
    cursor: pointer;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(5px);
}

.current-page,
.dots {
    background: #1a53ff;
    width: 2.8em;
    border-radius: 50%;
    cursor: pointer;
}

.current-page:hover,
.dots:hover {
    transform: translateY(-5px);
}

.pagination li.active {
    background: #333;
}

.pagination li.disable {
    background: #ccc;
}