:root {  
    /**
     * transition
     */
    --transition: 0.25s ease-in-out;
    /**
     * spacing
     */
    --section-padding: 60px;
    /**
     * border-radius
     */
    --radius-15: 15px;
    --radius-25: 25px;
  }
  
  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
    z-index: 2;
  }
  
  button { cursor: pointer; }
  
  input { width: 100%; }
  
  
  html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
  }
  
  body { background: white; }
  
  .suggestion-list {
    background-color: #ffff;
    padding: 18px 24px 6px 12px;
    border-radius: 0 0 6px 6px;
    position: absolute;
    width: 100%;
    padding-top: 50px;
    border: 2px solid #ffff;
    border-top: none;
    display: inline-block;
    z-index: 2;
  }
  
  .suggestion-list.hidden {
    display: none;
  }
  
  .suggestion-list p {
    margin-bottom: 12px;
  }
  
  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/
  
  /* .container { padding-inline: 15px; } */
  .keyword p {
    font-size: 22px;
  }
  .keyword p span{
    color: gray;
  }
  /*-----------------------------------*\
   * #PACKAGE
  \*-----------------------------------*/
  
  .package { padding-block: var(--section-padding); }
  
  .package-list { margin-bottom: 40px; }
  
  .package-list > li:not(:last-child) { margin-bottom: 30px; }
  
  .package-card {
    background: var(--cultured);
    overflow: hidden;
    border-radius: 15px;
  }
  
  .package-card .card-banner { height: 250px; }
  
  .package-card .card-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .package-card .card-content { 
    background-color: #F2F1F1;
    padding: 30px 20px; 
  }
  
  .package-card .card-title { margin-bottom: 15px; }
  .package-card .card-title:hover { 
    color: #bdbb49;
  }
  
  .package-card .card-text {
    color: #424242;
    line-height: 1.6;
    margin-bottom: 20px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .card-meta-list {
    background: #F2F1F1;
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 9px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
    border-radius: 50px;
  }
  .card-meta-list:hover{
    background-color: #d6d7f7;
  }
  
  .card-meta-item { position: relative; }
  
  .meta-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-inline: 9px;
    color: #080808;
    font-size: 12px;
    font-weight: 500;
  }
  .meta-box i{
    font-weight: 900;
    color: #371B58;
  }
  
  .package-card .card-review {
    background: #371B58;
    color: white;
    padding: 25px 20px;
    text-align: center;
  }
  
  .package-card .card-review .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px 15px;
    margin-bottom: 10px;
  }
  
  /* .package-card .card-review .reviews { font-size: 14px; } */
  
  .package-card .card-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-size: 14px;
  }
  .package-card .reviews {
    font-size: calc(10px + 1.2vw);
    font-family: var(--ff-montserrat);
    margin-bottom: 20px;
  }

  .package-card .distance {
    font-size: calc(10px + 1.2vw);
    margin-top: 20px;
    font-weight: 500;
  }
  
  .package .btn { margin-inline: auto; }

  /**
   * responsive for larger than 580px screen
   */
  
  @media (min-width: 580px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 580px;
      margin-inline: auto;
    }
  
    .btn {
      --fs-5: 16px;
      --padding: 12px 30px;
    }
  
    section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
      text-align: center;
    }
    .section-text { margin-bottom: 40px; }
    .card-text { --fs-5: 15px; }
  
  }
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-5: 15px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 800px; }
  
    .section-text {
      max-width: 60ch;
      margin-inline: auto;
    }
    
    /**
     * PACKAGE
     */
  
    .package-list { margin-bottom: 50px; }
  
    .package-list > li:not(:last-child) { margin-bottom: 40px; }
  
    .package-card {
      display: grid;
      grid-template-columns: 1.3fr 1.5fr 1fr;
    }
  
    .package-card .card-banner { height: 100%; }
  
    .package-card .card-content { padding: 40px; }
  
    .package-card .card-review {
      display: grid;
      place-content: center;
    }
  
    .package-card .card-review .wrapper { margin-bottom: 15px; }
  
  }
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1050px; }
  
    /**
     * PACKAGE
     */
  
    .meta-box { --fs-8: 13px; }
  
    .meta-box > ion-icon { font-size: 15px; }
    
  }
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 100px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1180px; }
  
  }